
<% @events.each do |event| %>
  <%= div_for event do %>
    <div class='flyer'>
      <%= image_tag(event.flyer_image.url, :width => 100) if event.flyer_image.present? %>
    </div>
    <b><%= link_to event.name, event %></b>:
    <%= event.subtitle %>
    <div class="schedule">
      <%= event.start_time.strftime("%a, *%m/*%d *%I:%M").gsub('*0', '').gsub('*', '') %> - <%= event.end_time.strftime("*%I:%M").gsub('*0', '').gsub('*', '') %>
    </div>
  <% end %>
<% end %>

<%= link_to 'New Event', new_event_path %>
