
<% @events.each do |event| %>
  <%= div_for event do %>
    <div class='flyer'>
      <%= image_tag(event.flyer_image.url, :width => 100) if event.flyer_image.present? %>
    </div>
    <b><%= link_to event.name, event %></b>:
    <%= event.subtitle %>
    <% if someone_is_logged_in %>
      <% if current_viber.rsvp_for_event(event) %>
        <br>Your RSVP: level <%= current_viber.rsvp_for_event(event).sincerity %><br>
      <% else %>
        <br><%= link_to 'RSVP', '#' + dom_id(event, :rsvp), :class => 'fancybox', :id => dom_id(event, :rsvp_to) %>
        <div class='hidden'>
          <%= content_tag :div, :id => dom_id(event, :rsvp) do %>
            <%= form_for event.rsvps.new, :remote => true, :html => {:id => dom_id(event, :rsvp_form_for)} do |f| %>
              <%= f.label :sincerity, 'How excited are you about going?' %>
              <%= f.text_field :sincerity, :size => 4, :placeholder => '1-500' %>
              <%= f.submit :RSVP %>
              <%= f.hidden_field :event_id %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
    <%= event.has_tickets_available? ? link_to('tickets available!', new_event_ticket_path(event)) : (event.sold_out? ? 'sold out!' : 'tickets not yet available.') %>
    <%= "(You have #{current_viber.tickets.for_event(event).count}.)" if current_viber.andand.has_tickets_to_event?(event) %>
    <div class="schedule">
      <%= event.start_time.strftime("%a, *%m/*%d *%I:%M").gsub('*0', '').gsub('*', '') %> - <%= event.end_time.strftime("*%I:%M").gsub('*0', '').gsub('*', '') %>
    </div>
  <% end %>
<% end %>

<%= link_to 'New Event', new_event_path %>
