<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Subtitle:</b>
  <%= @event.subtitle %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Start time:</b>
  <%= @event.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @event.end_time %>
</p>

<p>
  <b>Public:</b>
  <%= @event.public %>
</p>

<p>
  <b>Flyer image:</b>
  <%= @event.flyer_image %>
</p>

<p>
  <b>Viber:</b>
  <%= @event.viber_id %>
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
