<p id="notice"><%= notice %></p>

<p>
  <b><%= @event.name %></b>
</p>

<p>
  <%= @event.subtitle %>
</p>

<i>
  <%= @event.description %>
</i>

<p>
  <%= @event.start_time.strftime("%A, %B *%d from *%I o'clock %p").gsub('*0', '').gsub('*', '') %> until <%= @event.end_time.strftime("*%I o'clock %p on %A, %B *%d").gsub('*0', '').gsub('*', '') %>
</p>

<p>
  <%= image_tag @event.flyer_image.url %>
</p>