<p id="notice"><%= notice %></p>

<p>
  <b>Viber:</b>
  <%= @rsvp.viber_id %>
</p>

<p>
  <b>Event:</b>
  <%= @rsvp.event_id %>
</p>

<p>
  <b>Sincerity:</b>
  <%= @rsvp.sincerity %>
</p>

<p>
  <b>Note:</b>
  <%= @rsvp.note %>
</p>


<%= link_to 'Edit', edit_rsvp_path(@rsvp) %> |
<%= link_to 'Back', rsvps_path %>
