<%= form_for(@ysvp) do |f| %>
  <% if @ysvp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ysvp.errors.count, "error") %> prohibited this ysvp from being saved:</h2>

      <ul>
      <% @ysvp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :yoga_id %><br />
    <%= f.number_field :yoga_id %>
  </div>
  <div class="field">
    <%= f.label :viber_id %><br />
    <%= f.number_field :viber_id %>
  </div>
  <div class="field">
    <%= f.label :sincerity %><br />
    <%= f.number_field :sincerity %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :reminder_lead_time %><br />
    <%= f.text_field :reminder_lead_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
